.light_theme .theme_switch picture,
.testimonials-blc picture,
.start-screen-greeting-contacts-blc picture,
.burger-wrapper .burger picture,
.mobile-back picture,
.theme_switch picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.row > * {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}

.col {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 0%;
  flex: 1 0 0%;
}

.row-cols-auto > * {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
}

.row-cols-1 > * {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 100%;
}

.row-cols-2 > * {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 50%;
}

.row-cols-3 > * {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.row-cols-4 > * {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 25%;
}

.row-cols-5 > * {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 20%;
}

.row-cols-6 > * {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-auto {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
}

.col-1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 8.33333333%;
}

.col-2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 16.66666667%;
}

.col-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 33.33333333%;
}

.col-5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 41.66666667%;
}

.col-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 58.33333333%;
}

.col-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 66.66666667%;
}

.col-9 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 83.33333333%;
}

.col-11 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 91.66666667%;
}

.col-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 100%;
}

.offset-1 {
  margin-left: 8.33333333%;
}

.offset-2 {
  margin-left: 16.66666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.33333333%;
}

.offset-5 {
  margin-left: 41.66666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.33333333%;
}

.offset-8 {
  margin-left: 66.66666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.33333333%;
}

.offset-11 {
  margin-left: 91.66666667%;
}

.g-0,
.gx-0 {
  --bs-gutter-x: 0;
}

.g-0,
.gy-0 {
  --bs-gutter-y: 0;
}

.g-1,
.gx-1 {
  --bs-gutter-x: 0.25rem;
}

.g-1,
.gy-1 {
  --bs-gutter-y: 0.25rem;
}

.g-2,
.gx-2 {
  --bs-gutter-x: 0.5rem;
}

.g-2,
.gy-2 {
  --bs-gutter-y: 0.5rem;
}

.g-3,
.gx-3 {
  --bs-gutter-x: 1rem;
}

.g-3,
.gy-3 {
  --bs-gutter-y: 1rem;
}

.g-4,
.gx-4 {
  --bs-gutter-x: 1.5rem;
}

.g-4,
.gy-4 {
  --bs-gutter-y: 1.5rem;
}

.g-5,
.gx-5 {
  --bs-gutter-x: 3rem;
}

.g-5,
.gy-5 {
  --bs-gutter-y: 3rem;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

::-webkit-scrollbar {
  width: 0.3em;
  height: 0.3em;
}

::-webkit-scrollbar-thumb {
  background: rgba(145, 145, 145, 0.815);
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
}

body {
  scrollbar-face-color: rgba(145, 145, 145, 0.815);
  scrollbar-track-color: rgba(255, 255, 255, 0);
}

.container {
  padding: 0 !important;
  margin: 0 auto;
}

.theme_switch {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  position: fixed;
  z-index: 900;
  right: 5%;
  bottom: 5%;
  padding: 1em;
  background: white;
  border-radius: 2em;
  border: 1px black solid;
}

.theme_switch .theme_switch_white {
  display: none;
}

.theme_switch div {
  display: flex;
  align-items: center;
}

.local-btn {
  font: normal 400 16px/1em "Raleway", sans-serif;
  background: #d4c17f;
  color: white;
  padding: 15px 15px !important;
  width: 100%;
  text-align: center;
  z-index: 1;
  color: white;
  position: relative;
  overflow: hidden;
}

.local-btn::before {
  content: "";
  z-index: -1;
  position: absolute;
  width: 0px;
  height: 0px;
  left: 50%;
  bottom: 50%;
  border-radius: 100%;
  -webkit-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
  background: #2d343c;
  -webkit-transition: 0.8s all linear;
  -o-transition: 0.8s all linear;
  transition: 0.8s all linear;
}

.local-btn:hover::before,
.local-btn:focus::before,
.local-btn:active::before {
  width: 100vw;
  height: 100vw;
}

p,
h1,
h2,
h3,
h4,
li {
  cursor: default;
}

.mobile-back {
  display: none;
  padding: 5px 5px 5px 0;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  position: relative;
  z-index: 999 !important;
}

.mobile-back img {
  width: 40px;
}

.line-bottom-fix {
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: -1px;
  background: #242b33;
}

.line-top-fix {
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  top: -1px;
  background: #242b33;
}

.local-input {
  font: normal 400 16px/1em "Raleway", sans-serif;
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  color: white;
  padding: 15px 15px !important;
  width: 100%;
  color: white;
  max-height: 46px;
}

.local-input::-webkit-input-placeholder {
  color: white;
  opacity: 0.5;
  line-height: 1;
}

.local-input::-moz-placeholder {
  color: white;
  opacity: 0.5;
  line-height: 1;
}

.local-input:-ms-input-placeholder {
  color: white;
  opacity: 0.5;
  line-height: 1;
}

.local-input::-ms-input-placeholder {
  color: white;
  opacity: 0.5;
  line-height: 1;
}

.local-input::placeholder {
  color: white;
  opacity: 0.5;
  line-height: 1;
}

.highlighting {
  color: #d4c17f;
}

.nav-list--active {
  background: #2d343c;
}

.logo-link {
  cursor: pointer !important;
}

.logo-link h1 {
  cursor: pointer;
}

.logo-link p {
  cursor: pointer;
}

section {
  position: relative;
}

.section-numbering {
  font: normal 700 20rem/1em "Playfair Display", serif;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-55%);
  -ms-transform: translateY(-55%);
  transform: translateY(-55%);
  color: white;
  max-width: 100%;
  opacity: 0.02;
  z-index: -1 !important;
}

.container-xl {
  padding: 0 15px !important;
  margin: 0 auto !important;
}

a {
  color: white;
}

a:hover,
a:active,
a:focus {
  color: white;
}

._text-clipping {
  -o-text-overflow: ellipsis !important;
  text-overflow: ellipsis !important;
  white-space: nowrap;
  overflow: hidden !important;
}

body {
  font: normal 400 14px/1.5em "Raleway", sans-serif;
  color: white;
  background: #242b33;
  position: relative;
}

body *, body span{
  color: white;
}

.title {
  font: normal 400 28px/1em "Raleway", sans-serif;
  color: white;
  margin-bottom: 5px;
}

.title2 {
  font: normal 700 46px/1.2em "Playfair Display", serif;
  color: #d4c17f;
  white-space: wrap;
  max-width: 100%;
}

.title3 {
  font: normal 700 36px/1em "Playfair Display", serif;
  color: #d4c17f;
}

.sub-title {
  font-size: 10px !important;
  white-space: nowrap;
}

/* header start */

header {
  position: fixed;
  z-index: 990;
  width: 100%;
  background: #242b33;
}

header .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

header div {
  line-height: 1em;
}

header .logo-header {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header a h1,
header a p {
  cursor: pointer;
}

.line {
  position: absolute;
  display: none;
  width: 150vw;
  height: 2px;
  background: #181818;
  z-index: 999;
  bottom: 0;
  left: 0;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
}

.nav .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  max-width: 100%;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav .nav-list a {
  padding: 25px 20px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 5px;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
}

.nav .nav-list a:last-child {
  margin-right: 0;
}

.nav .nav-list a::before {
  content: "";
  z-index: -1;
  position: absolute;
  width: 0px;
  height: 0px;
  left: 50%;
  bottom: 50%;
  border-radius: 100%;
  -webkit-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
  background: #2d343c;
  -webkit-transition: 0.8s all linear;
  -o-transition: 0.8s all linear;
  transition: 0.8s all linear;
}

.nav .nav-list a:hover::before,
.nav .nav-list a:focus::before,
.nav .nav-list a:active::before {
  width: 100vw;
  height: 100vw;
}

.burger-wrapper-light {
  display: none;
}

.burger-wrapper {
  width: -webkit-min-content !important;
  width: -moz-min-content !important;
  width: min-content !important;
  padding: 10px 0 10px 10px;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.burger-wrapper .burger {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 100%;
}

.burger-wrapper img {
  width: 40px;
}

/* header end */

/* start-screen start */

.start-screen {
  position: relative;
  overflow: hidden;
  margin-bottom: 150px;
  height: 100vh;
  width: 100%;
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(11.98%, #242b33),
      color-stop(51.04%, rgba(45, 52, 60, 0.38)),
      color-stop(92.19%, #242b33)
    ),
    url(../img/start-screen.png), no-repeat;
  background: -o-linear-gradient(
      top,
      #242b33 11.98%,
      rgba(45, 52, 60, 0.38) 51.04%,
      #242b33 92.19%
    ),
    url(../img/start-screen.png), no-repeat;
  background: linear-gradient(
      180deg,
      #242b33 11.98%,
      rgba(45, 52, 60, 0.38) 51.04%,
      #242b33 92.19%
    ),
    url(../img/start-screen.png), no-repeat;
  background-size: cover !important;
  background-position: center !important;
}

.start-screen-greeting {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.start-screen-greeting h2 {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  width: 450px;
}

.start-screen-greeting-contacts {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  bottom: 10%;
}

.start-screen-greeting-contacts-blc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  width: 100%;
}

.start-screen-greeting-contacts-blc {
  margin-bottom: 15px;
}

.start-screen-greeting-contacts-blc:last-child {
  margin-bottom: 0px;
}

.start-screen-greeting-contacts-blc img {
  margin-right: 10px;
  width: 25px;
}

.start-screen-greeting-contacts-blc p {
  white-space: normal !important;
}

/* start-screen end */

/* testimonials start */

.testimonials {
  margin-bottom: 150px;
}

.container-testimonials {
  margin: 0 auto;
  width: 75%;
}

.testimonials-blc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.testimonials-blc img {
  margin-bottom: 40px;
}

.testimonials-blc p {
  font: normal 400 16px/1.5em "Raleway", sans-serif;
  color: white;
}

.testimonials-section-numbering {
  left: 2%;
}

/* testimonials end */

/* appartments start */

.appartments-section-numbering {
  right: 2%;
  top: -100px;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.appartments-blocks h3 {
  margin-bottom: 50px;
}

.appartments-blocks-grid-blc {
  margin-bottom: 24px;
}

.appartments-blocks-grid-blc:nth-last-child(-n + 2) {
  margin-bottom: 0px;
}

.appartments-blocks-grid-blc .for-img-wrapper {
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.3s all linear;
  -o-transition: 0.3s all linear;
  transition: 0.3s all linear;
  padding: 0 0 0px 0;
  position: relative;
  transition: 0.3s all linear;
}

.appartments-blocks-grid-blc .for-img-wrapper::before {
  content: "";
  width: 100%;
  height: 100%;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(36, 43, 51, 0)),
    to(#242b33)
  );
  background: -o-linear-gradient(top, rgba(36, 43, 51, 0) 0%, #242b33 100%);
  background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242b33 100%);
  position: absolute;
  z-index: 10;
  -webkit-transition: 0.3s all linear;
  -o-transition: 0.3s all linear;
  transition: 0.3s all linear;
}

.appartments-blocks-grid-blc .for-img-wrapper:hover,
.appartments-blocks-grid-blc .for-img-wrapper:focus {
  -webkit-transform: scale(1.04);
  -ms-transform: scale(1.04);
  transform: scale(1.04);
}

.appartments-blocks-grid-blc .for-img-wrapper:hover::before,
.appartments-blocks-grid-blc .for-img-wrapper:focus::before {
  opacity: 0.8;
}

.appartments-blocks-grid-blc .for-img-wrapper{
  overflow: hidden;
}

.appartments-blocks-grid-blc .for-img-wrapper img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  position: absolute;
}

.appartments-blocks-grid-blc .for-img-wrapper p {
  font: normal 400 24px/1.5em "Raleway", sans-serif;
  position: absolute;
  z-index: 100 !important;
  bottom: 7%;
  left: 7%;
  color: white;
}

.appartments-blocks-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 30px;
}

/* appartments end */

/* record-form start */

.record-form {
  padding: 150px 0;
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(10.42%, #242b33),
      color-stop(50.52%, rgba(36, 43, 51, 0)),
      color-stop(90.1%, #242b33)
    ),
    -webkit-gradient(linear, left bottom, left top, from(rgba(36, 43, 51, 0.9)), to(rgba(36, 43, 51, 0.9))),
    url(../img/bg-form.png), no-repeat;
  background: -o-linear-gradient(
      top,
      #242b33 10.42%,
      rgba(36, 43, 51, 0) 50.52%,
      #242b33 90.1%
    ),
    -o-linear-gradient(bottom, rgba(36, 43, 51, 0.9), rgba(36, 43, 51, 0.9)),
    url(../img/bg-form.png), no-repeat;
  background: linear-gradient(
      180deg,
      #242b33 10.42%,
      rgba(36, 43, 51, 0) 50.52%,
      #242b33 90.1%
    ),
    linear-gradient(0deg, rgba(36, 43, 51, 0.9), rgba(36, 43, 51, 0.9)),
    url(../img/bg-form.png), no-repeat;
  background-size: cover !important;
  background-position: center !important;
  position: relative;
}

.record-form .title3 {
  margin-bottom: 50px;
}

.record-form-blocks-description p {
  text-align: justify;
  text-indent: 20px;
  padding: 5px 0;
}

.form-element-wrapper {
  margin-bottom: 24px;
}

.form-element-wrapper:nth-last-child(-n + 2) {
  margin-bottom: 0;
}

.form-element-wrapper p {
  text-align: center;
  font-size: 10px;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* record-form end */

/* video start */

.video {
  margin-bottom: 150px;
}

.video .title3 {
  margin-bottom: 50px;
}

.video-frame {
  width: 100%;
}

.video-section-numbering {
  left: 2%;
}

/* video end */

/* map start */

.map {
  margin-bottom: 150px;
}

.map .title3 {
  margin-bottom: 50px;
}

.map-blc {
  width: 100%;
  background: #242b33;
}

/* map end */

/* ask form start */

.ask-form {
  margin-bottom: 150px;
}

.ask-form .title3 {
  margin-bottom: 50px;
}

.form-ask-element-wrapper:nth-child(1) {
  padding-right: 15px !important;
}

.form-ask-element-wrapper:nth-child(n + 2):nth-last-child(n + 2) {
  padding-right: 15px !important;
  padding-left: 15px !important;
}

.form-ask-element-wrapper:last-child {
  padding-left: 15px !important;
}

.form-ask-element-wrapper p {
  font-size: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}

.record-form-blocks-description-ask {
  text-indent: 20px;
  padding: 5px 0;
  text-align: justify;
}

/* ask form end */

/* footer start */

footer {
  background: #2d343c;
  padding: 50px 0;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.social a {
  margin-right: 20px;
}

.social a:last-child {
  margin-right: 0px;
}

.social img {
  height: 20px;
}

.nav-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
  overflow: hidden;
}

.nav-footer a {
  width: 100%;
  padding: 10px;
  margin-bottom: 2px;
  z-index: 1;
  position: relative;
  overflow: hidden;
}

.nav-footer a::before {
  content: "";
  z-index: -1;
  position: absolute;
  width: 0px;
  height: 0px;
  left: 50%;
  bottom: 50%;
  border-radius: 100%;
  -webkit-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
  background: #242b33;
  -webkit-transition: 0.8s all linear;
  -o-transition: 0.8s all linear;
  transition: 0.8s all linear;
}

.nav-footer a:hover::before,
.nav-footer a:focus::before,
.nav-footer a:active::before {
  width: 100vw;
  height: 100vw;
}

.contacts li {
  margin-bottom: 15px;
  overflow: hidden;
}

.contacts li:last-child {
  margin-bottom: 0;
}

.wrapper-logo-link {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

/* footer end */

/* form-registrations start */

.text-gold {
  font: normal 700 14px/1em "Playfair Display", serif;
  margin-top: 50px;
  margin-bottom: 5px;
  color: #d4c17f;
}

.text-gold-number {
  font: normal 700 50px/1em "Playfair Display", serif;
  color: #d4c17f;
}

.record-form-blocks-registr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.record-form-blocks-registr-elem input {
  margin-bottom: 30px;
}

/* form-registrations end */

/* light theme start */

.light_theme {
  background: #fafafa;
  color: black;
}

.light_theme * {
  color: black;
}

.light_theme .title2 {
  color: #313131;
}

.light_theme .title3 {
  color: #313131;
}

.light_theme .theme_switch {
  background: #242b33;
  border: 1px solid white;
}

.light_theme .theme_switch .theme_switch_white {
  display: flex;
}

.light_theme .theme_switch .theme_switch_dark {
  display: none;
}

.light_theme .section-numbering {
  color: black;
  overflow: visible !important;
}

.light_theme input {
  background: rgba(233, 233, 233, 0.404);
  border: black 1px solid;
  color: black;
}

.light_theme input::-webkit-input-placeholder {
  color: #272727;
}

.light_theme input::-moz-placeholder {
  color: #272727;
}

.light_theme input:-ms-input-placeholder {
  color: #272727;
}

.light_theme input::-ms-input-placeholder {
  color: #272727;
}

.light_theme input::placeholder {
  color: #272727;
}

.light_theme button {
  background: #313131;
  position: relative;
  overflow: hidden;
  color: white;
}

.light_theme button::before {
  content: "";
  z-index: -1;
  position: absolute;
  width: 0px;
  height: 0px;
  left: 50%;
  bottom: 50%;
  border-radius: 100%;
  -webkit-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
  background: #444444;
  -webkit-transition: 0.8s all linear;
  -o-transition: 0.8s all linear;
  transition: 0.8s all linear;
}

.light_theme button:hover::before,
.light_theme button:focus::before,
.light_theme button:active::before {
  width: 100vw;
  height: 100vw;
}

.light_theme .gold-blc * {
  color: #313131;
}

.light_theme .nav-list--active {
  background: #444444;
}

.light_theme header {
  background: #313131;
}

.light_theme header * {
  color: white;
}

.light_theme header .nav-list a {
  position: relative;
  overflow: hidden;
}

.light_theme header .nav-list a::before {
  content: "";
  z-index: -1;
  position: absolute;
  width: 0px;
  height: 0px;
  left: 50%;
  bottom: 50%;
  border-radius: 100%;
  -webkit-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
  background: #444444;
  -webkit-transition: 0.8s all linear;
  -o-transition: 0.8s all linear;
  transition: 0.8s all linear;
}

.light_theme header .nav-list a:hover::before,
.light_theme header .nav-list a:focus::before,
.light_theme header .nav-list a:active::before {
  width: 100vw;
  height: 100vw;
}

.light_theme .header_active {
  background: #313131 !important;
}

.light_theme .header_active .nav {
  background: #313131 !important;
}

.light_theme .start-screen {
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(51.04%, rgba(0, 0, 0, 0.6)),
      color-stop(51.04%, rgba(0, 0, 0, 0.6)),
      color-stop(51.04%, rgba(0, 0, 0, 0.6))
    ),
    url(../img/start-screen.png), no-repeat;
  background: -o-linear-gradient(
      top,
      rgba(0, 0, 0, 0.6) 51.04% 11.98%,
      rgba(0, 0, 0, 0.6) 51.04%,
      rgba(0, 0, 0, 0.6) 51.04% 92.19%
    ),
    url(../img/start-screen.png), no-repeat;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.6) 51.04% 11.98%,
      rgba(0, 0, 0, 0.6) 51.04%,
      rgba(0, 0, 0, 0.6) 51.04% 92.19%
    ),
    url(../img/start-screen.png), no-repeat;
}

.light_theme .start-screen * {
  color: white;
}

.light_theme .start-screen .line-bottom-fix,
.light_theme .start-screen .line-top-fix {
  display: none;
}

.light_theme .testimonials * {
  color: black;
}

.light_theme .testimonials .testimonials-blc img {
  padding: 20px;
  border-radius: 1em;
  background: #181818;
}

.light_theme .appartments .line-bottom-fix,
.light_theme .appartments .line-top-fix {
  background: #fafafa;
}

.light_theme
  .appartments
  .appartments-blocks-grid-blc
  .for-img-wrapper::before {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 0.7)),
    to(rgba(0, 0, 0, 0.7))
  );
  background: -o-linear-gradient(
    top,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0.6) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0.6) 100%
  );
}

.light_theme .record-form {
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(10.42%, #fafafa),
      color-stop(50.52%, rgba(36, 43, 51, 0)),
      color-stop(90.1%, #fafafa)
    ),
    -webkit-gradient(linear, left bottom, left top, from(#f5f5f5d5), to(#f5f5f5d5)),
    url(../img/bg-form.png), no-repeat;
  background: -o-linear-gradient(
      top,
      #fafafa 10.42%,
      rgba(36, 43, 51, 0) 50.52%,
      #fafafa 90.1%
    ),
    -o-linear-gradient(bottom, #f5f5f5d5, #f5f5f5d5), url(../img/bg-form.png),
    no-repeat;
  background: linear-gradient(
      180deg,
      #fafafa 10.42%,
      rgba(36, 43, 51, 0) 50.52%,
      #fafafa 90.1%
    ),
    linear-gradient(0deg, #f5f5f5d5, #f5f5f5d5), url(../img/bg-form.png),
    no-repeat;
}

.light_theme .record-form .line-bottom-fix,
.light_theme .record-form .line-top-fix {
  background: #fafafa;
}

.light_theme .map-blc {
  background: #444444;
}

.light_theme footer {
  background: #313131;
}

.light_theme footer * {
  color: white !important;
}

.light_theme footer .nav-footer a {
  position: relative;
  overflow: hidden;
}

.light_theme footer .nav-footer a::before {
  content: "";
  z-index: -1;
  position: absolute;
  width: 0px;
  height: 0px;
  left: 50%;
  bottom: 50%;
  border-radius: 100%;
  -webkit-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
  background: #444444;
  -webkit-transition: 0.8s all linear;
  -o-transition: 0.8s all linear;
  transition: 0.8s all linear;
}

.light_theme footer .nav-footer a:hover::before,
.light_theme footer .nav-footer a:focus::before,
.light_theme footer .nav-footer a:active::before {
  width: 100vw;
  height: 100vw;
}

.light_theme footer .contacts::before,
.light_theme footer .contacts::after {
  display: none;
}

/* light theme start */

@supports (-webkit-appearance: none) {
  .start-screen {
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(11.98%, #242b33),
        color-stop(51.04%, rgba(45, 52, 60, 0.38)),
        color-stop(92.19%, #242b33)
      ),
      url(../img/start-screen.webp), no-repeat;
    background: -o-linear-gradient(
        top,
        #242b33 11.98%,
        rgba(45, 52, 60, 0.38) 51.04%,
        #242b33 92.19%
      ),
      url(../img/start-screen.webp), no-repeat;
    background: linear-gradient(
        180deg,
        #242b33 11.98%,
        rgba(45, 52, 60, 0.38) 51.04%,
        #242b33 92.19%
      ),
      url(../img/start-screen.webp), no-repeat;
  }

  .record-form {
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(10.42%, #242b33),
        color-stop(50.52%, rgba(36, 43, 51, 0)),
        color-stop(90.1%, #242b33)
      ),
      -webkit-gradient(linear, left bottom, left top, from(rgba(36, 43, 51, 0.9)), to(rgba(36, 43, 51, 0.9))),
      url(../img/bg-form.webp), no-repeat;
    background: -o-linear-gradient(
        top,
        #242b33 10.42%,
        rgba(36, 43, 51, 0) 50.52%,
        #242b33 90.1%
      ),
      -o-linear-gradient(bottom, rgba(36, 43, 51, 0.9), rgba(36, 43, 51, 0.9)),
      url(../img/bg-form.webp), no-repeat;
    background: linear-gradient(
        180deg,
        #242b33 10.42%,
        rgba(36, 43, 51, 0) 50.52%,
        #242b33 90.1%
      ),
      linear-gradient(0deg, rgba(36, 43, 51, 0.9), rgba(36, 43, 51, 0.9)),
      url(../img/bg-form.webp), no-repeat;
  }

  .light_theme .start-screen {
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(51.04%, rgba(0, 0, 0, 0.6)),
        color-stop(51.04%, rgba(0, 0, 0, 0.6)),
        color-stop(51.04%, rgba(0, 0, 0, 0.6))
      ),
      url(../img/start-screen.webp), no-repeat;
    background: -o-linear-gradient(
        top,
        rgba(0, 0, 0, 0.6) 51.04% 11.98%,
        rgba(0, 0, 0, 0.6) 51.04%,
        rgba(0, 0, 0, 0.6) 51.04% 92.19%
      ),
      url(../img/start-screen.webp), no-repeat;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.6) 51.04% 11.98%,
        rgba(0, 0, 0, 0.6) 51.04%,
        rgba(0, 0, 0, 0.6) 51.04% 92.19%
      ),
      url(../img/start-screen.webp), no-repeat;
  }

  .light_theme .record-form {
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(10.42%, #fafafa),
        color-stop(50.52%, rgba(36, 43, 51, 0)),
        color-stop(90.1%, #fafafa)
      ),
      -webkit-gradient(linear, left bottom, left top, from(#f5f5f5d5), to(#f5f5f5d5)),
      url(../img/bg-form.webp), no-repeat;
    background: -o-linear-gradient(
        top,
        #fafafa 10.42%,
        rgba(36, 43, 51, 0) 50.52%,
        #fafafa 90.1%
      ),
      -o-linear-gradient(bottom, #f5f5f5d5, #f5f5f5d5), url(../img/bg-form.webp),
      no-repeat;
    background: linear-gradient(
        180deg,
        #fafafa 10.42%,
        rgba(36, 43, 51, 0) 50.52%,
        #fafafa 90.1%
      ),
      linear-gradient(0deg, #f5f5f5d5, #f5f5f5d5), url(../img/bg-form.webp),
      no-repeat;
  }
}

@media (min-width: 425px) {
  .local-btn {
    font-size: calc(14px + 2 * (100vw / 1920)) !important;
  }

  .local-input::-webkit-input-placeholder {
    font-size: calc(14px + 2 * (100vw / 1920)) !important;
  }

  .local-input::-moz-placeholder {
    font-size: calc(14px + 2 * (100vw / 1920)) !important;
  }

  .local-input:-ms-input-placeholder {
    font-size: calc(14px + 2 * (100vw / 1920)) !important;
  }

  .local-input::-ms-input-placeholder {
    font-size: calc(14px + 2 * (100vw / 1920)) !important;
  }

  .local-input::placeholder {
    font-size: calc(14px + 2 * (100vw / 1920)) !important;
  }

  .local-input {
    font-size: calc(14px + 2 * (100vw / 1920)) !important;
  }

  body {
    font-size: calc(14px + 2 * (100vw / 1920)) !important;
  }

  .title {
    font-size: calc(22px + 6 * (100vw / 1920)) !important;
  }

  .title2 {
    font-size: calc(36px + 10 * (100vw / 1920)) !important;
  }

  .title3 {
    font-size: calc(26px + 10 * (100vw / 1920)) !important;
  }

  .testimonials-blc p {
    font-size: calc(16px + 2 * (100vw / 1920)) !important;
  }

  .appartments-blocks-grid-blc .for-img-wrapper p {
    font-size: calc(22px + 2 * (100vw / 1920)) !important;
  }

  .gold-blc .text-gold {
    font-size: calc(14px + 2 * (100vw / 1920)) !important;
  }

  .gold-blc .text-gold-number {
    font-size: calc(36px + 10 * (100vw / 1920)) !important;
  }

  @supports (-webkit-appearance: none) {
  }
}

@media (min-width: 576px) {
  .container-sm,
  .container {
    max-width: 540px;
  }

  .col-sm {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
  }

  .row-cols-sm-auto > * {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
  }

  .row-cols-sm-1 > * {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 100%;
  }

  .row-cols-sm-2 > * {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 50%;
  }

  .row-cols-sm-3 > * {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .row-cols-sm-4 > * {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 25%;
  }

  .row-cols-sm-5 > * {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 20%;
  }

  .row-cols-sm-6 > * {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col-sm-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
  }

  .col-sm-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 8.33333333%;
  }

  .col-sm-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-sm-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 25%;
  }

  .col-sm-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-sm-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 41.66666667%;
  }

  .col-sm-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 50%;
  }

  .col-sm-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 58.33333333%;
  }

  .col-sm-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .col-sm-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 75%;
  }

  .col-sm-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 83.33333333%;
  }

  .col-sm-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 91.66666667%;
  }

  .col-sm-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 100%;
  }

  .offset-sm-0 {
    margin-left: 0;
  }

  .offset-sm-1 {
    margin-left: 8.33333333%;
  }

  .offset-sm-2 {
    margin-left: 16.66666667%;
  }

  .offset-sm-3 {
    margin-left: 25%;
  }

  .offset-sm-4 {
    margin-left: 33.33333333%;
  }

  .offset-sm-5 {
    margin-left: 41.66666667%;
  }

  .offset-sm-6 {
    margin-left: 50%;
  }

  .offset-sm-7 {
    margin-left: 58.33333333%;
  }

  .offset-sm-8 {
    margin-left: 66.66666667%;
  }

  .offset-sm-9 {
    margin-left: 75%;
  }

  .offset-sm-10 {
    margin-left: 83.33333333%;
  }

  .offset-sm-11 {
    margin-left: 91.66666667%;
  }

  .g-sm-0,
  .gx-sm-0 {
    --bs-gutter-x: 0;
  }

  .g-sm-0,
  .gy-sm-0 {
    --bs-gutter-y: 0;
  }

  .g-sm-1,
  .gx-sm-1 {
    --bs-gutter-x: 0.25rem;
  }

  .g-sm-1,
  .gy-sm-1 {
    --bs-gutter-y: 0.25rem;
  }

  .g-sm-2,
  .gx-sm-2 {
    --bs-gutter-x: 0.5rem;
  }

  .g-sm-2,
  .gy-sm-2 {
    --bs-gutter-y: 0.5rem;
  }

  .g-sm-3,
  .gx-sm-3 {
    --bs-gutter-x: 1rem;
  }

  .g-sm-3,
  .gy-sm-3 {
    --bs-gutter-y: 1rem;
  }

  .g-sm-4,
  .gx-sm-4 {
    --bs-gutter-x: 1.5rem;
  }

  .g-sm-4,
  .gy-sm-4 {
    --bs-gutter-y: 1.5rem;
  }

  .g-sm-5,
  .gx-sm-5 {
    --bs-gutter-x: 3rem;
  }

  .g-sm-5,
  .gy-sm-5 {
    --bs-gutter-y: 3rem;
  }

  @supports (-webkit-appearance: none) {
  }
}

@media (min-width: 768px) {
  .container-md,
  .container-sm,
  .container {
    max-width: 720px;
  }

  .col-md {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
  }

  .row-cols-md-auto > * {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
  }

  .row-cols-md-1 > * {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 100%;
  }

  .row-cols-md-2 > * {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 50%;
  }

  .row-cols-md-3 > * {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .row-cols-md-4 > * {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 25%;
  }

  .row-cols-md-5 > * {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 20%;
  }

  .row-cols-md-6 > * {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col-md-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
  }

  .col-md-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 8.33333333%;
  }

  .col-md-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-md-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 25%;
  }

  .col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-md-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 41.66666667%;
  }

  .col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 50%;
  }

  .col-md-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 58.33333333%;
  }

  .col-md-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .col-md-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 75%;
  }

  .col-md-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 83.33333333%;
  }

  .col-md-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 91.66666667%;
  }

  .col-md-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 100%;
  }

  .offset-md-0 {
    margin-left: 0;
  }

  .offset-md-1 {
    margin-left: 8.33333333%;
  }

  .offset-md-2 {
    margin-left: 16.66666667%;
  }

  .offset-md-3 {
    margin-left: 25%;
  }

  .offset-md-4 {
    margin-left: 33.33333333%;
  }

  .offset-md-5 {
    margin-left: 41.66666667%;
  }

  .offset-md-6 {
    margin-left: 50%;
  }

  .offset-md-7 {
    margin-left: 58.33333333%;
  }

  .offset-md-8 {
    margin-left: 66.66666667%;
  }

  .offset-md-9 {
    margin-left: 75%;
  }

  .offset-md-10 {
    margin-left: 83.33333333%;
  }

  .offset-md-11 {
    margin-left: 91.66666667%;
  }

  .g-md-0,
  .gx-md-0 {
    --bs-gutter-x: 0;
  }

  .g-md-0,
  .gy-md-0 {
    --bs-gutter-y: 0;
  }

  .g-md-1,
  .gx-md-1 {
    --bs-gutter-x: 0.25rem;
  }

  .g-md-1,
  .gy-md-1 {
    --bs-gutter-y: 0.25rem;
  }

  .g-md-2,
  .gx-md-2 {
    --bs-gutter-x: 0.5rem;
  }

  .g-md-2,
  .gy-md-2 {
    --bs-gutter-y: 0.5rem;
  }

  .g-md-3,
  .gx-md-3 {
    --bs-gutter-x: 1rem;
  }

  .g-md-3,
  .gy-md-3 {
    --bs-gutter-y: 1rem;
  }

  .g-md-4,
  .gx-md-4 {
    --bs-gutter-x: 1.5rem;
  }

  .g-md-4,
  .gy-md-4 {
    --bs-gutter-y: 1.5rem;
  }

  .g-md-5,
  .gx-md-5 {
    --bs-gutter-x: 3rem;
  }

  .g-md-5,
  .gy-md-5 {
    --bs-gutter-y: 3rem;
  }

  @supports (-webkit-appearance: none) {
  }
}

@media (min-width: 992px) {
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 960px;
  }

  .col-lg {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
  }

  .row-cols-lg-auto > * {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
  }

  .row-cols-lg-1 > * {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 100%;
  }

  .row-cols-lg-2 > * {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 50%;
  }

  .row-cols-lg-3 > * {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .row-cols-lg-4 > * {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 25%;
  }

  .row-cols-lg-5 > * {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 20%;
  }

  .row-cols-lg-6 > * {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col-lg-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
  }

  .col-lg-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 8.33333333%;
  }

  .col-lg-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-lg-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 25%;
  }

  .col-lg-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-lg-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 41.66666667%;
  }

  .col-lg-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 50%;
  }

  .col-lg-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 58.33333333%;
  }

  .col-lg-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .col-lg-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 75%;
  }

  .col-lg-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 83.33333333%;
  }

  .col-lg-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 91.66666667%;
  }

  .col-lg-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 100%;
  }

  .offset-lg-0 {
    margin-left: 0;
  }

  .offset-lg-1 {
    margin-left: 8.33333333%;
  }

  .offset-lg-2 {
    margin-left: 16.66666667%;
  }

  .offset-lg-3 {
    margin-left: 25%;
  }

  .offset-lg-4 {
    margin-left: 33.33333333%;
  }

  .offset-lg-5 {
    margin-left: 41.66666667%;
  }

  .offset-lg-6 {
    margin-left: 50%;
  }

  .offset-lg-7 {
    margin-left: 58.33333333%;
  }

  .offset-lg-8 {
    margin-left: 66.66666667%;
  }

  .offset-lg-9 {
    margin-left: 75%;
  }

  .offset-lg-10 {
    margin-left: 83.33333333%;
  }

  .offset-lg-11 {
    margin-left: 91.66666667%;
  }

  .g-lg-0,
  .gx-lg-0 {
    --bs-gutter-x: 0;
  }

  .g-lg-0,
  .gy-lg-0 {
    --bs-gutter-y: 0;
  }

  .g-lg-1,
  .gx-lg-1 {
    --bs-gutter-x: 0.25rem;
  }

  .g-lg-1,
  .gy-lg-1 {
    --bs-gutter-y: 0.25rem;
  }

  .g-lg-2,
  .gx-lg-2 {
    --bs-gutter-x: 0.5rem;
  }

  .g-lg-2,
  .gy-lg-2 {
    --bs-gutter-y: 0.5rem;
  }

  .g-lg-3,
  .gx-lg-3 {
    --bs-gutter-x: 1rem;
  }

  .g-lg-3,
  .gy-lg-3 {
    --bs-gutter-y: 1rem;
  }

  .g-lg-4,
  .gx-lg-4 {
    --bs-gutter-x: 1.5rem;
  }

  .g-lg-4,
  .gy-lg-4 {
    --bs-gutter-y: 1.5rem;
  }

  .g-lg-5,
  .gx-lg-5 {
    --bs-gutter-x: 3rem;
  }

  .g-lg-5,
  .gy-lg-5 {
    --bs-gutter-y: 3rem;
  }

  @supports (-webkit-appearance: none) {
  }
}

@media (min-width: 1200px) {
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1140px;
  }

  .col-xl {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
  }

  .row-cols-xl-auto > * {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
  }

  .row-cols-xl-1 > * {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 100%;
  }

  .row-cols-xl-2 > * {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 50%;
  }

  .row-cols-xl-3 > * {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .row-cols-xl-4 > * {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 25%;
  }

  .row-cols-xl-5 > * {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 20%;
  }

  .row-cols-xl-6 > * {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col-xl-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
  }

  .col-xl-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 8.33333333%;
  }

  .col-xl-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-xl-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 25%;
  }

  .col-xl-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-xl-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 41.66666667%;
  }

  .col-xl-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 50%;
  }

  .col-xl-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 58.33333333%;
  }

  .col-xl-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .col-xl-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 75%;
  }

  .col-xl-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 83.33333333%;
  }

  .col-xl-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 91.66666667%;
  }

  .col-xl-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 100%;
  }

  .offset-xl-0 {
    margin-left: 0;
  }

  .offset-xl-1 {
    margin-left: 8.33333333%;
  }

  .offset-xl-2 {
    margin-left: 16.66666667%;
  }

  .offset-xl-3 {
    margin-left: 25%;
  }

  .offset-xl-4 {
    margin-left: 33.33333333%;
  }

  .offset-xl-5 {
    margin-left: 41.66666667%;
  }

  .offset-xl-6 {
    margin-left: 50%;
  }

  .offset-xl-7 {
    margin-left: 58.33333333%;
  }

  .offset-xl-8 {
    margin-left: 66.66666667%;
  }

  .offset-xl-9 {
    margin-left: 75%;
  }

  .offset-xl-10 {
    margin-left: 83.33333333%;
  }

  .offset-xl-11 {
    margin-left: 91.66666667%;
  }

  .g-xl-0,
  .gx-xl-0 {
    --bs-gutter-x: 0;
  }

  .g-xl-0,
  .gy-xl-0 {
    --bs-gutter-y: 0;
  }

  .g-xl-1,
  .gx-xl-1 {
    --bs-gutter-x: 0.25rem;
  }

  .g-xl-1,
  .gy-xl-1 {
    --bs-gutter-y: 0.25rem;
  }

  .g-xl-2,
  .gx-xl-2 {
    --bs-gutter-x: 0.5rem;
  }

  .g-xl-2,
  .gy-xl-2 {
    --bs-gutter-y: 0.5rem;
  }

  .g-xl-3,
  .gx-xl-3 {
    --bs-gutter-x: 1rem;
  }

  .g-xl-3,
  .gy-xl-3 {
    --bs-gutter-y: 1rem;
  }

  .g-xl-4,
  .gx-xl-4 {
    --bs-gutter-x: 1.5rem;
  }

  .g-xl-4,
  .gy-xl-4 {
    --bs-gutter-y: 1.5rem;
  }

  .g-xl-5,
  .gx-xl-5 {
    --bs-gutter-x: 3rem;
  }

  .g-xl-5,
  .gy-xl-5 {
    --bs-gutter-y: 3rem;
  }

  @supports (-webkit-appearance: none) {
  }
}

@media (min-width: 1400px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1320px;
  }

  .col-xxl {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
  }

  .row-cols-xxl-auto > * {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
  }

  .row-cols-xxl-1 > * {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 100%;
  }

  .row-cols-xxl-2 > * {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 50%;
  }

  .row-cols-xxl-3 > * {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .row-cols-xxl-4 > * {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 25%;
  }

  .row-cols-xxl-5 > * {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 20%;
  }

  .row-cols-xxl-6 > * {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col-xxl-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
  }

  .col-xxl-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 8.33333333%;
  }

  .col-xxl-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-xxl-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 25%;
  }

  .col-xxl-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-xxl-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 41.66666667%;
  }

  .col-xxl-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 50%;
  }

  .col-xxl-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 58.33333333%;
  }

  .col-xxl-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .col-xxl-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 75%;
  }

  .col-xxl-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 83.33333333%;
  }

  .col-xxl-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 91.66666667%;
  }

  .col-xxl-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 100%;
  }

  .offset-xxl-0 {
    margin-left: 0;
  }

  .offset-xxl-1 {
    margin-left: 8.33333333%;
  }

  .offset-xxl-2 {
    margin-left: 16.66666667%;
  }

  .offset-xxl-3 {
    margin-left: 25%;
  }

  .offset-xxl-4 {
    margin-left: 33.33333333%;
  }

  .offset-xxl-5 {
    margin-left: 41.66666667%;
  }

  .offset-xxl-6 {
    margin-left: 50%;
  }

  .offset-xxl-7 {
    margin-left: 58.33333333%;
  }

  .offset-xxl-8 {
    margin-left: 66.66666667%;
  }

  .offset-xxl-9 {
    margin-left: 75%;
  }

  .offset-xxl-10 {
    margin-left: 83.33333333%;
  }

  .offset-xxl-11 {
    margin-left: 91.66666667%;
  }

  .g-xxl-0,
  .gx-xxl-0 {
    --bs-gutter-x: 0;
  }

  .g-xxl-0,
  .gy-xxl-0 {
    --bs-gutter-y: 0;
  }

  .g-xxl-1,
  .gx-xxl-1 {
    --bs-gutter-x: 0.25rem;
  }

  .g-xxl-1,
  .gy-xxl-1 {
    --bs-gutter-y: 0.25rem;
  }

  .g-xxl-2,
  .gx-xxl-2 {
    --bs-gutter-x: 0.5rem;
  }

  .g-xxl-2,
  .gy-xxl-2 {
    --bs-gutter-y: 0.5rem;
  }

  .g-xxl-3,
  .gx-xxl-3 {
    --bs-gutter-x: 1rem;
  }

  .g-xxl-3,
  .gy-xxl-3 {
    --bs-gutter-y: 1rem;
  }

  .g-xxl-4,
  .gx-xxl-4 {
    --bs-gutter-x: 1.5rem;
  }

  .g-xxl-4,
  .gy-xxl-4 {
    --bs-gutter-y: 1.5rem;
  }

  .g-xxl-5,
  .gx-xxl-5 {
    --bs-gutter-x: 3rem;
  }

  .g-xxl-5,
  .gy-xxl-5 {
    --bs-gutter-y: 3rem;
  }

  @supports (-webkit-appearance: none) {
  }
}

@media (max-width: 425px) {
  .local-btn {
    font-size: calc(14px + 3.4 * ((100vw - 320px) / 1920)) !important;
  }

  .local-input::-webkit-input-placeholder {
    font-size: calc(14px + 3.4 * ((100vw - 320px) / 1920)) !important;
  }

  .local-input::-moz-placeholder {
    font-size: calc(14px + 3.4 * ((100vw - 320px) / 1920)) !important;
  }

  .local-input:-ms-input-placeholder {
    font-size: calc(14px + 3.4 * ((100vw - 320px) / 1920)) !important;
  }

  .local-input::-ms-input-placeholder {
    font-size: calc(14px + 3.4 * ((100vw - 320px) / 1920)) !important;
  }

  .local-input::placeholder {
    font-size: calc(14px + 3.4 * ((100vw - 320px) / 1920)) !important;
  }

  .local-input {
    font-size: calc(14px + 3.4 * ((100vw - 320px) / 1920)) !important;
  }

  body {
    font-size: calc(14px + 3.4 * ((100vw - 320px) / 1920)) !important;
  }

  .title {
    font-size: calc(22px + 10.2 * ((100vw - 320px) / 1920)) !important;
  }

  .title2 {
    font-size: calc(36px + 17 * ((100vw - 320px) / 1920)) !important;
  }

  .title3 {
    font-size: calc(26px + 17 * ((100vw - 320px) / 1920)) !important;
  }

  .testimonials-blc p {
    font-size: calc(16px + 3.4 * ((100vw - 320px) / 1920)) !important;
  }

  .appartments-blocks-grid-blc .for-img-wrapper p {
    font-size: calc(22px + 3.4 * ((100vw - 320px) / 1920)) !important;
  }

  .gold-blc .text-gold {
    font-size: calc(14px + 3.4 * ((100vw - 320px) / 1920)) !important;
  }

  .gold-blc .text-gold-number {
    font-size: calc(36px + 17 * ((100vw - 320px) / 1920)) !important;
  }

  @supports (-webkit-appearance: none) {
  }
}

/*  */

.successfully-email{
  display: none;
  position: fixed;
  z-index: 950;
  word-wrap: normal;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  padding: 25px;
  background: rgb(202, 202, 202);
}
.successfully-email p{
  font-size: 1.2em;
}

.successfully-email p:first-child{
  margin-bottom: 10px;
}


.successfully-err{
  display: none;
  position: fixed;
  word-wrap: normal;
  z-index: 950;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  padding: 25px;
  background: rgb(202, 202, 202);
}
.successfully-err p{
  font-size: 1.2em;
}

/* .appartments-blocks-grid-blc{
  opacity: 1;
} */

.appartments-blocks-grid-blc-active:nth-child(n+5) {
  opacity: 0;
  position: absolute;
  top: -100%;
}

.more-data{
  display: none;
  white-space: nowrap;
}

.light_theme .appartments .line-bottom-fix, .light_theme .appartments .line-top-fix{
  background: white ;
}

.appartments-list{
  padding-top: 15em;
}

.light_theme .search, .light_theme .filter{
  padding: 12px;
  background: rgba(0, 0, 0, 0.04);
}

.search, .filter{
  padding: 12px;
  background: rgba(255, 255, 255, 0.04);
  margin-bottom: 30px;
}

.filter{
  margin-bottom: 30px !important;
}

.search .col:first-child{
  padding-right:6px;
}
.search .col:last-child{
  padding-left:32px;
}

.search button, .filter button{
  cursor: pointer;
}

.filter{
  margin-bottom: 0;
}

.search button, .filter button{
  text-align: left;
}

.search .local-input{
  text-align: left;
}

.search .local-btn{
  height: 100% !important;
}

.filter .local-btn{
  padding: 15px !important;
  margin-bottom: 0.7em;
}

.filter p{
  margin-bottom: 5px;
}

.search-rooms{
  margin-top: 20px;
}
.search-rooms .local-btn{
  height: 100% !important;
  margin-bottom: 0;
  padding: 10px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-rooms .col:last-child{
  padding-left: 0;
}
.search-rooms .col:first-child{
  padding-right: 4px;
}


.search-rooms .local-input{
  padding: 10px !important;
  text-align: left;
}

.appartments-list .for-img-wrapper{
  height: 17em;
}

.btn-page{
  display: flex;
  width: 100%;
  margin-top: 24px;
  justify-content: center;
}
.btn-page a{
  width: min-content !important;
  height: min-content !important;
  padding: 0.5em !important;
  margin-right: 3px;
  color: white;
}
.btn-page a:last-child{
  margin-right: 0;
}
.btn-page .active-page{
  background: #7e7e7e !important;
}
.btn-page .local-btn::before{
  background: #7e7e7e;
}

.light_theme #results .local-btn{
  background: #444444;
}


@media screen and (max-width: 768px){
  .col-appatr{
    display: flex;
    flex-direction: column-reverse;
  }
  .nav-filter{
    display: flex;
    flex-wrap: wrap;
  }

  .nav-filter button{
    white-space: nowrap;
    width: min-content !important;
    text-align: center;
    margin-right: 5px;
  }

  .nav-filter button:last-child{
    margin-right: 0;
  }

  .nav-filter .col{
    max-width: 10em;
  }

  .search-rooms{
    margin-top: 0;
  }
  .search .col:first-child{
    padding-right:3px;
  }
  .search .col:last-child{
    padding-left:3px;
  }
}

@media screen and (max-width: 500px){
  .carousel-inner{
height: 30em !important;
  }
}

.description_entry{
  margin-bottom: 150px;
}

.carousel-inner{
  overflow: hidden;
  
}

.carousel-item{
  height: 100%;
  width: 100%;
  position: relative;
}

.carousel-item img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
}

.light_theme .carousel-control-next, .light_theme .carousel-control-prev,
.light_theme .carousel-control-next::before, .light_theme .carousel-control-prev::before{
  position: absolute;
  background: none !important;
}

.description_entry p{
  margin-bottom: 10px;
}

.description_entry p:last-child{
  margin-bottom: 0;
}

.description_entry h2{
  margin-bottom: 30px;
}

.blc-data-ap{
  margin-bottom: 30px;
  font-size: 1.2em;
}

.text-decor{
  
  font-weight: 700;
}

.blc-description-wrapper *{
  text-align: justify;
  font-size: 1.1em !important;
  line-height: 1.6em !important;
}

.profile-user{
  padding-top: 150px;
  padding-bottom: 150px;
}

.profile-user-blc{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.1);
  padding: 50px;
  overflow: hidden;
}

.profile-user-blc > div{
  margin-bottom: 4em;
}

.profile-user-blc > div:last-child{
  margin-bottom: 0;
}

.profile-user-img-wrapper{
  position: relative;
  width: 17em;
  padding: 0 0 17em 0;
  overflow: hidden;
  border-radius: 100%;
  margin-bottom: 20px;
}

.photo_add{
  display: none;
}

.photo_add button{
  padding: 5px;
  background: rgb(91, 194, 100);
}

.photo_add input{
  border: none !important;
  background: none !important;
}

.profile-user-img-wrapper img{
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: cover;
  object-position: center;
}

.edit-photo{
  font-size: 1.2em;
  transition: all 0.2s linear;
}

.other-info{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.other-info p{
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  margin: 5px;
}

.blc-pic-add{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logout-user{
  font-size: 1.2em;
}

.logout-user-blc{
  transition: all 0.2s linear;
}

.logout-user-blc:hover,
.logout-user-blc:active, 
.logout-user-blc:focus,
.edit-photo:hover,
.edit-photo:active,
.edit-photo:focus
{
  transform: scale(1.15);
}

.light_theme .profile-user-blc{
  background: #00000010;
}

.light_theme .other-info p{
  background: #0000000c;
}

.light_theme .logout-user-blc a{
  color: black !important;
}

.light_theme .btn-add{
  color: black;
}

.btn-add-blc{
  padding-bottom: 20px;
  font-size: 1.2em;
}

.btn-add-blc a{
  transition: linear 0.2s all;
} 

.btn-add-blc a:hover{
  color: #525252;
} 

.add_news_user .photo_add{
  display: block;
  margin-bottom: 100px;
}

.add_news_user .title2{
  margin-bottom: 15px;
}

.title-add-blc{
  margin-bottom: 50px;
}

.title-add-blc input{
  text-align: left;
}

.text textarea {
  height: 400px;
}

.light_theme .text button:hover:before{
  display: none;
}
.slider{ padding-bottom: 50px;}

.wrapper-form-add{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.btn-add-user-news{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.error-web{
  width: 100%;
  padding-top: 45vh;
  padding-bottom: 45vh;
  text-align: center;
}

.page_loading{
  position: fixed;
  top: 50%;
  left: 50%;
  background: #191f26;
  transform: translate(-50%,-50%);
  opacity: 0.98;
  z-index: 999;
  width: 95vw;
  height: 95vh;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}

.__lock{
  height: 100vh;
  overflow: hidden;
}

.link-back{
margin-top: 30px;
font-size: 1.5em;
transition: all 0.3s linear;
}

.link-back a:hover{
  color: rgba(255, 255, 255, 0.699) !important;
}
.light_theme .link-back a:hover{
  color: rgba(0, 0, 0, 0.699) !important;
}
